<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>844265797321-odip6unqecqp9m9hs8sa28bbufaqm3u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844265797321-odip6unqecqp9m9hs8sa28bbufaqm3u3</string>
	<key>API_KEY</key>
	<string>AIzaSyBYoC-edGBZxnKA_U2zaSpU9-2zP5EN6Ig</string>
	<key>GCM_SENDER_ID</key>
	<string>844265797321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bl.PokemonApp2-0</string>
	<key>PROJECT_ID</key>
	<string>myproject-90039</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-90039.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:844265797321:ios:2855139f9625a628</string>
	<key>DATABASE_URL</key>
	<string>https://myproject-90039.firebaseio.com</string>
</dict>
</plist>
